* {
  margin: 0;
}

body {
  width: 65%;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: linear-gradient( -45deg, #E0E2DB, #E0DDCF); */
}

body>header {
  display: flex;
  justify-content: space-between;
  background: #f7f6f0;
  box-shadow: 0px 1px 2px 0px;
  padding: 2em;
  position: sticky;
  top: 1px;
}

main {
  display: flex;
  background: #e6e2cf3e;
  padding: 20px;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  line-height: 1.7em;
}

h1 {
  margin: 0;
  color: #493843;
}

nav {
  padding: 0.5em;
  display: flex;
  width: 30%;
  gap: 5%;
}

nav a {
  position: relative;
  padding: 0.1em 0;
  margin: 0 0.5em;
  text-decoration: none;
  color:#1A1423;
}

nav a::before {
  content: " ";
  background: #1A1423;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

nav a:hover {
  color: #03312E;
}

nav a:hover::before {
  color: #03312E;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  flex: 3;
}

article > header {
  align-self: center;
  display: flex;
  flex-direction: column;
}

article > header > h1 {
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset:3px;
}

article > header > p{
  font-size: 12px;
  display: flex;
  margin: 0;
  align-self: flex-end;
}

section, footer {
  margin: 0.7em;
}

mark {
  background-color: bisque;
}

figure img {
  width: 50%;
}

details {
  cursor: pointer;
}

summary {
  color: #03312E;
}

aside {
  flex: 1;
  align-self: stretch;
  padding: 1em;
  margin: 1em;
  background: #e3e9c33c;
}

body>footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0;
  background: #e6e2cf5c;
  box-shadow: 0px -1px 2px 0px;
}

dialog {
  position: absolute;
  top: 50%;
  margin: auto;
  line-height: 1.7em;
}

dialog > button {
  padding: 0.2em 1em;
  border-radius: 5px;
  cursor: pointer;
}
